.folderContainer {
  height: 40px;
  width: 100%;
  background-color: #e9edf9;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border-color: #2950b8;
  }
  .status {
    width: 4px;
    height: 100%;
    background: #999;
  }
  img {
    width: 21px;
    height: 19px;
    margin: 0 8px;
  }
  .name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .right {
    flex-shrink: 0;
    margin-right: 12px;
    display: flex;
    align-items: center;
    .circlePoint {
      display: block;
      width: 11px;
      height: 11px;
      border: 1px solid #999;
      border-radius: 11px;
      margin-right: 6px;
    }
  }
}
