.crossPoint {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    z-index: 2;
    .point {
      width: 8px;
      height: 8px;
      border-radius: 100px;
      position: absolute;
      top: 2px;
      transform: translateY(-50%);
      &:hover {
        background: #1e68ff;
        border: 2px solid #9fb9ff;
      }
    }
    .info {
      height: 60px;
      margin-top: 14px;
      line-height: 1.2;
      color: #2950b8;
      writing-mode: vertical-lr;
    }
    .normal {
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #9fb9ff;
    }
    .active {
      background: #db311c;
      border: 2px solid #9fb9ff;
    }
    .startPoint,
    .endPoint {
      width: 24px;
      height: 24px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      position: absolute;
      top: 2px;
      transform: translateY(-50%);
    }
    .startPoint {
      background: #268d15;
      border: 3px solid #69c15a;
    }
    .endPoint {
      background: #cf220c;
      border: 3px solid #ff8474;
    }
  }
  .popoverContent {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: -6px -8px;
    span:nth-child(1) {
      color: #333;
    }
    span:nth-child(2) {
      color: #2950b8;
    }
  }
  